* {
    text-align: center;
    color: #ffff;
    margin: 0;
    max-width: 100vh;
    max-height: 100vh;

}

.cotainer {
    padding: 10px;


}

.header {
    background: linear-gradient(246.26deg, #585DFE 0%, #FB3796 100%);
    margin: 0 auto;
    padding-bottom: 20px;
}


.title {
    padding: 53px 50px;
}

#input {
    font-size: 100px;
}

.output {
    background: #1F2937;
    padding-top: 20px;
    height: 100vh;

}

input,
button {
    color: black;
}

.length--output {
    display: flex;
    justify-content: center;
}

.entryfeild {
    padding: 20px 40px;
    margin-top: 20px;

}